#--------------------------------------------------------------------
# ENVIRONMENT
# 서버 배포 시 production 으로 변경
#--------------------------------------------------------------------
CI_ENVIRONMENT = production

#--------------------------------------------------------------------
# APP
# 실제 도메인으로 변경 (예: https://yourdomain.com/)
#--------------------------------------------------------------------
app.baseURL = 'https://yourdomain.com/'

#--------------------------------------------------------------------
# DATABASE
# 서버 DB 정보로 변경
#--------------------------------------------------------------------
database.default.hostname = localhost
database.default.database = DB명_입력
database.default.username = DB유저명_입력
database.default.password = DB비밀번호_입력
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port     = 3306
database.default.charset  = utf8mb4
database.default.DBCollat = utf8mb4_unicode_ci

#--------------------------------------------------------------------
# NAVER MAP
# 네이버 클라우드에서 발급받은 API 키 입력
#--------------------------------------------------------------------
NAVER_MAP_CLIENT_ID=발급키_입력
NAVER_MAP_CLIENT_SECRET=발급시크릿_입력
